.box {
  height: 200px;
  width: 200px;
  /* background-color: red; */
  transition: all 5s ease-in-out;
  filter: grayscale();
  position: Relative;
  left:500px;
  top:250px;
}
.box img {
  height: 200px;
  width: 200px;
}
.box:hover {
  /* background-color: blue;
    height: 500px;
    width: 500px; */
  transform: rotate(360deg) scale(1.5);
  
  /* translateX(300px); */
  filter: none;
  
}
