*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    height: 400px;
    width: 400px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.child{
    background-color: yellowgreen;
    color: white;
    font-size: 24px;
    border: 1px solid white;
}
.child1{
    grid-column-start: 1;
    grid-column-end: 5;
}