h1{
    display: flex;
    justify-content: center;
    text-decoration:underline double navy;
}

.p1{
    border: 2px solid teal;
    font-family: Arial, Helvetica, sans-serif;
}
.p2{
    background-color: wheat;
    border: 2px dashed brown;
    font-family:'Times New Roman', Times, serif;
}
.p3{
    background-color: rgb(165, 251, 251);
    border: 2px double black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.p4{
       color: blueviolet;
       border: 2px dashed purple;
}
.p5{
    border-top: 4px solid red;
    border-left: 2px solid yellow;
    border-right: 2px dashed green;
    border-bottom: 2px solid blue;
    text-decoration: line-through;

}
.p6{
    border: 2px solid teal;
    border-radius: 15px;
    text-transform: uppercase;
}
.p7{
     border: 2px solid teal;
}
.p8{
    border: 2px dotted rgb(192, 162, 107);
    background-color: antiquewhite;
    font-style: italic;
}
.p9{
    border: 2px double black;
    background-color: rgb(188, 244, 244);
    text-transform: uppercase;
}
.p10{
    border: 1px dashed purple;
}
.p11{
     border-top: 4px solid red;
    border-left: 2px solid yellow;
    border-right: 2px dashed green;
    border-bottom: 2px solid blue;
    text-decoration: line-through;
}
.p12{
     border: 2px solid teal;
    border-radius: 15px;
    text-transform: uppercase;
}



