 body{
    height: 500vh;
 }
 .parent{
    height: 100vh;
    background-color: green;

 }
 .box{
    height: 200px;
    width: 200px;
    background-color: red;
    /* position: relative;
    left: 100px;
    top: 200px; */ 

    border-radius: 50%;

    /* position: absolute;
    right: 0px;
    bottom: 0px; */

    /* position: fixed;
    right: 0px;
    bottom: 0px; */
    position: sticky;
    top: 100px;


 }