.p1{
    background-color: red;
    color:white;
}
.p2{
    background-color: blue;
    color:white;
}
.p3{
    background-color: green;
    color:white;
}
.p4{
    background-color: purple;

}
.p5{
    background-color: orange;
}
.p6{
    background-color: pink;
    
}
.p7{
    background-color: brown;
    color:white;
}
.p8{
    background-color: cyan;
}
.p9{
    background-color: lime;
}
.p10{
    background-color: navy;
    color:white;
}
.p11{
    background-color: teal;
    color:white;
}
.p12{
    background-color: olive;
}
.p13{
    background-color: magenta;
    color:white;
}
.p14{
    background-color: gold;
}
.p15{
    background-color: silver;
}
.p16{
    background-color: coral;
}