html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url(./Bokaro_Steel_Plant_.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2); /* semi-transparent */
    backdrop-filter: blur(8px);           /* blurs background behind */
    padding: 2rem;
    border-radius: 10px;
    color: white;
    text-align: center;
    max-width: 600px;
}
