#parent{
    height: 200px;
    width: 200px;
    background-color: gray;
    border-radius: 50%;
}
#child{
    height: 50vh;
    width: 50wh;
    background-color: aqua;
}

h2{
    border: 8px groove red;
    /* border-left: 3px solid red; */
    /* border-right: 3px solid black; */
    border-bottom-right-radius: 30px;
    padding: 20px;
    width: max-content;
}
img{
    height: 110px;
    float: left;
}
@font-face {
    font-family: Raj;
    src: url(./HorrorFont-Regular.ttf);
}
p{
 font-size: 32;
 clear: both;
 font-family: Raj;
 
}