.box{
    height: 150px;
    width: 150px;
    /* background-color: red; */
    /* border-radius: 50%; */
    /* animation: movingball 3s ease-in-out  alternate infinite; */
    animation: doremon 1s ease-in-out alternate infinite;
}
/* @keyframes movingball {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(300px) translateX(400px);
        border-radius: 50%;
        background-color: green;

    }
    100%{
        transform: translateX(500px);
        background-color: blue;
    }
    
} */

img{
    height: 200px;
    width: 200px;
}
 @keyframes doremon {
    0%{

    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(-10deg);
    }
    
} 

h2{
    animation: typing 1s ease-in alternate infinite;

}
@keyframes typing {
    0%{
        transform:skew(0);
    }
    50%{
        transform: rotate(10deg);
    }100%{
        transform: rotate(-10deg);
    }
}