*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top_deals{
    display: flex;
}
.product{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border:1px solid black;
    
}